<section *ngIf="city && currentWeather" class="weather-card" fxLayout="column" fxLayoutAlign="center" >
    <mat-card-title fxLayoutAlign="end">{{city.name}}</mat-card-title>

      <section class="container" fxLayout="column" fxLayoutAlign="center">
        <section class="main" fxLayoutAlign="center">
          <h1 id="currentTemp" class="mat-display-4">{{currentWeather.temp | number:'1.0-1'}}°C</h1>
          <span><img src="assets/images/10d@2x.png" alt="image"></span>
        </section>


        <section fxLayoutAlign="center">
          <h3 class="mat-subheading-2">{{currentWeather.description}} &mdash; Feels like: {{currentWeather.feels_like | number:'1.0-1'}}</h3>
        </section>

        <section class="detailsContainer" fxLayout="row" fxLayoutAlign="space-evenly">
          <section class="details verticalLine" fxLayout="column" fxLayoutAlign="center center">
            <h3 class="mat-subheading-2">Humidity</h3>
            <h3 class="mat-subheading-2">{{currentWeather.humidity}}</h3>
          </section>
          <section class="details verticalLine" fxLayout="column" fxLayoutAlign="center center">
            <h3 class="mat-subheading-2">Pressure</h3>
            <h3 class="mat-subheading-2">{{currentWeather.pressure}}</h3>
          </section>
          <section class="details" fxLayout="column" fxLayoutAlign="center center">
            <h3 class="mat-subheading-2">Winda</h3>
            <h3 class="mat-subheading-2">{{currentWeather.wind}}</h3>
          </section>
        </section>
      </section>

</section>
